.header{
    height: 6.5rem;
    box-shadow: 0px 2px 4px 0px  rgba(0,0,0,0.1);
}

.wrap{
    max-width: 1450px;
    margin:0 auto;
    position: relative;
    height: 100%;
}
.logo{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 13rem;
}
img{
    display: block;
    width: 100%;
    margin: 0;
}

.callToAction{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    text-transform: uppercase;
}
ul,li{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    font-size: 1.8rem;
    color: black;
    line-height: 0;
    text-transform: uppercase;
    text-decoration: none;
}